Old_Files/CODES/Node-Red/My project/1/Flow 1 formatted
[
    {
        "id": "cf5498ec.7bb178",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "38f1c8ef.204b08",
        "type": "inject",
        "z": "cf5498ec.7bb178",
        "name": "sensor1",
        "topic": "emspe",
        "payload": "open",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "8b66283e.b3e978"
            ]
        ]
    },
    {
        "id": "94adbb42.150188",
        "type": "mqtt in",
        "z": "cf5498ec.7bb178",
        "name": "",
        "topic": "emspe",
        "qos": "0",
        "broker": "e62d40f1.a1cc8",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "5076745c.65304c"
            ]
        ]
    },
    {
        "id": "5076745c.65304c",
        "type": "debug",
        "z": "cf5498ec.7bb178",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "8b66283e.b3e978",
        "type": "mqtt out",
        "z": "cf5498ec.7bb178",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "e62d40f1.a1cc8",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "ac7216d.d3431e8",
        "type": "comment",
        "z": "cf5498ec.7bb178",
        "name": "Publisher",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "4bc1010c.bab38",
        "type": "comment",
        "z": "cf5498ec.7bb178",
        "name": "Subscriber",
        "info": "Topic - emspe\nBroker - test,mosquitto.org\nPort - 1883",
        "x": 120,
        "y": 220,
        "wires": []
    },
    {
        "id": "7a0d24a4.798c7c",
        "type": "inject",
        "z": "cf5498ec.7bb178",
        "name": "sensor2",
        "topic": "emspe",
        "payload": "close",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "8b66283e.b3e978"
            ]
        ]
    },
    {
        "id": "39f23369.32708c",
        "type": "join",
        "z": "cf5498ec.7bb178",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 310,
        "y": 360,
        "wires": [
            [
                "5076745c.65304c"
            ]
        ]
    },
    {
        "id": "e62d40f1.a1cc8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]