Old_Files/CODES/Node-Red/My project/1/Flow 2
[{"id":"e7fe8b59.ede408","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5423e5dc.102aac","type":"mqtt out","z":"e7fe8b59.ede408","name":"","topic":"","qos":"","retain":"","broker":"e62d40f1.a1cc8","x":490,"y":140,"wires":[]},{"id":"a51ef853.faca38","type":"comment","z":"e7fe8b59.ede408","name":"Publisher 1","info":"","x":110,"y":60,"wires":[]},{"id":"ab6e3494.a51e18","type":"random","z":"e7fe8b59.ede408","name":"","low":"1","high":"10","inte":"false","property":"payload","x":220,"y":120,"wires":[["5423e5dc.102aac"]]},{"id":"7b67868e.f6f0d8","type":"inject","z":"e7fe8b59.ede408","name":"Sensor1","topic":"emspe/publisher1/sensors/sensor1","payload":"","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":"2","x":100,"y":120,"wires":[["ab6e3494.a51e18"]]},{"id":"a932552a.acbfc8","type":"inject","z":"e7fe8b59.ede408","name":"Sensor2","topic":"emspe/publisher1/sensors/sensor2","payload":"sensor2","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["5423e5dc.102aac"]]},{"id":"28e8385c.c5cf28","type":"inject","z":"e7fe8b59.ede408","name":"Sensor3","topic":"emspe/publisher1/sensors/sensor3","payload":"222","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["5423e5dc.102aac"]]},{"id":"e62d40f1.a1cc8","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]