Old_Files/CODES/Node-Red/My project/8_Color Change with delay Forum output
[{"id":"35a545b7.512bea","type":"ui_switch","z":"59b767c7.ce9858","name":"","label":"SS01","tooltip":"","group":"6e89f4fb.532aac","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"1111/SS/status/SS1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":70,"y":40,"wires":[["3008bc98.ec11b4","f3422357.664cd"]],"outputLabels":["1"]},{"id":"3008bc98.ec11b4","type":"mqtt out","z":"59b767c7.ce9858","name":"pub status/SS1 ","topic":"","qos":"0","retain":"","broker":"e03edd89.f2b83","x":240,"y":40,"wires":[]},{"id":"68e674db.2e37dc","type":"mqtt in","z":"59b767c7.ce9858","name":"sub SS/status/","topic":"1111/SS/status/#","qos":"0","broker":"e03edd89.f2b83","x":100,"y":160,"wires":[["8e33e8b.e1da018"]]},{"id":"f3422357.664cd","type":"debug","z":"59b767c7.ce9858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":100,"wires":[]},{"id":"d6088e9b.83216","type":"ui_switch","z":"59b767c7.ce9858","name":"","label":"SS02","tooltip":"","group":"6e89f4fb.532aac","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"1111/SS/status/SS2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":430,"y":40,"wires":[["395d6a38.f64d56","fc747e26.4765c"]],"outputLabels":["1"]},{"id":"395d6a38.f64d56","type":"mqtt out","z":"59b767c7.ce9858","name":"pub status/SS2","topic":"","qos":"0","retain":"","broker":"e03edd89.f2b83","x":660,"y":40,"wires":[]},{"id":"fc747e26.4765c","type":"debug","z":"59b767c7.ce9858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":100,"wires":[]},{"id":"e6426c46.eff37","type":"debug","z":"59b767c7.ce9858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":140,"wires":[]},{"id":"d75f759a.fb7638","type":"debug","z":"59b767c7.ce9858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":380,"y":300,"wires":[]},{"id":"248a062c.09848a","type":"debug","z":"59b767c7.ce9858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":140,"wires":[]},{"id":"3976f396.0e7c8c","type":"debug","z":"59b767c7.ce9858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":300,"wires":[]},{"id":"f000826.eae6c8","type":"function","z":"59b767c7.ce9858","name":"ON","func":"var SS1 = global.get('SS1');\nSS1.iconColor=\"green\";\nSS1.icon =\"check\";\nmsg.payload = SS1;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":180,"wires":[["4a0495be.34975c","b6e12df6.f987e"]]},{"id":"a7b24923.e1a108","type":"function","z":"59b767c7.ce9858","name":"OFF","func":"var SS1 = global.get('SS1');\nSS1.iconColor=\"red\";\nSS1.icon =\"close\";\nmsg.payload = SS1;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["3740249d.636cdc","b6e12df6.f987e"]]},{"id":"3309db38.4492a4","type":"switch","z":"59b767c7.ce9858","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":390,"y":180,"wires":[["248a062c.09848a","f000826.eae6c8"],["3976f396.0e7c8c","a7b24923.e1a108"]]},{"id":"4a0495be.34975c","type":"debug","z":"59b767c7.ce9858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":180,"wires":[]},{"id":"3740249d.636cdc","type":"debug","z":"59b767c7.ce9858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":213,"wires":[]},{"id":"80c933fb.9aafb","type":"inject","z":"59b767c7.ce9858","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":360,"wires":[["efed7b7f.a99358"]]},{"id":"d0e8a0ce.f2eff","type":"ui_template","z":"59b767c7.ce9858","group":"a7459054.3eb6f","name":"","order":2,"width":"10","height":"8","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":440,"y":360,"wires":[[]]},{"id":"efed7b7f.a99358","type":"template","z":"59b767c7.ce9858","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" height=450px width =500px ></iframe>","x":280,"y":360,"wires":[["d0e8a0ce.f2eff"]]},{"id":"9505c554.6afce8","type":"function","z":"59b767c7.ce9858","name":"Add SS (1:6)","func":"var SS1  =  {\n    name:\"SS1 : Kurunegala\", \n    lat:7.486944, \n    lon:80.365045,\n    icon:\"tag\",\n    iconColor:\"dark\",\n    extrainfo:\"Hello ! this is station 1\"\n};\n\nvar SS2  =  {\n    name:\"SS2 : Mallawapitiya\", \n    lat:7.473803,\t\n    lon:80.390385,\n    icon:\"tag\",\n    extrainfo:\"Hello ! this is station 2\",\n    iconColor:\"dark\",\n   \n};\n\nvar SS3 = {\n    name:\"SS3 : Pilessa\", \n    lat:7.453491,\t\n    lon:80.418123,\n    icon:\"tag\",\n    iconColor:\"blue\",\n    extrainfo:\"Hello ! this is station 3\"\n};\n\t\nvar SS4 = {\n    name:\"SS4 : Mawatagama\", \n    lat:7.432725,\t\n    lon:80.446576,\n    icon:\"tag\",\n    iconColor:\"blue\",\n    extrainfo:\"Hello ! this is station 4\"\n};\n\t\nvar SS5 = {\n    name:\"SS5 : Galagedara\", \n    lat:7.372298,\t\n    lon:80.526042,\n    icon:\"tag\",\n    iconColor:\"blue\",\n    extrainfo:\"Hello ! this is station 5\"\n};\n\t\nvar SS6 = {\n    name:\"SS6 : Barigama\", \n    lat:7.327693,\t\n    lon:80.577552,\n    icon:\"tag\",\n    iconColor:\"blue\",\n    extrainfo:\"Hello ! this is station 6\"\n};\n\n\nmsg.payload = [SS1,SS2,SS3,SS4,SS5,SS6];\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["fb776b3f.eb1158","f4320c06.91363"]]},{"id":"58bf2445.568f4c","type":"worldmap in","z":"59b767c7.ce9858","name":"","path":"/worldmap","x":100,"y":420,"wires":[["2d4673c2.cca1bc","d24a4997.35ea28"]]},{"id":"2d4673c2.cca1bc","type":"switch","z":"59b767c7.ce9858","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":420,"wires":[["9505c554.6afce8","b6ce54a0.61b768"]]},{"id":"d24a4997.35ea28","type":"debug","z":"59b767c7.ce9858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":155,"y":528,"wires":[]},{"id":"b6ce54a0.61b768","type":"debug","z":"59b767c7.ce9858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":520,"wires":[]},{"id":"fb776b3f.eb1158","type":"debug","z":"59b767c7.ce9858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":520,"wires":[]},{"id":"b6e12df6.f987e","type":"worldmap","z":"59b767c7.ce9858","name":"","lat":"","lon":"","zoom":"10","layer":"","cluster":"0","maxage":"","usermenu":"show","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","path":"/worldmap","x":780,"y":360,"wires":[]},{"id":"8e33e8b.e1da018","type":"switch","z":"59b767c7.ce9858","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"SS1","vt":"str"},{"t":"cont","v":"SS2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":220,"wires":[["e6426c46.eff37","3309db38.4492a4"],["d75f759a.fb7638"]]},{"id":"5a4ec984.e7f048","type":"inject","z":"59b767c7.ce9858","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":320,"wires":[["9505c554.6afce8"]]},{"id":"f4320c06.91363","type":"delay","z":"59b767c7.ce9858","name":"","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":420,"wires":[["b6e12df6.f987e"]]},{"id":"6e89f4fb.532aac","type":"ui_group","z":"","name":"SS Status ON/OFF","tab":"49a3ca1e.67a4d4","order":3,"disp":true,"width":"6","collapse":false},{"id":"e03edd89.f2b83","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a7459054.3eb6f","type":"ui_group","z":"","name":"Map","tab":"49a3ca1e.67a4d4","order":1,"disp":true,"width":"10","collapse":false},{"id":"49a3ca1e.67a4d4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}]