Old_Files/CODES/Node-Red/My project/Forum/No error No out put in world map
[{"id":"8ce5c474.f6d0e8","type":"tab","label":"SStation map 2 ","disabled":false,"info":"\n\n"},{"id":"67e095cd.f1c0dc","type":"ui_switch","z":"8ce5c474.f6d0e8","name":"","label":"SS01","tooltip":"","group":"68efa007.e75a9","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"1111/SS/status/SS1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":50,"y":40,"wires":[["6217a42c.6ffbcc","9bac73ac.b7c1b"]],"outputLabels":["1"]},{"id":"6217a42c.6ffbcc","type":"mqtt out","z":"8ce5c474.f6d0e8","name":"pub status/SS1 ","topic":"","qos":"0","retain":"","broker":"1be77637.6214ea","x":220,"y":20,"wires":[]},{"id":"acc2839d.c0372","type":"mqtt in","z":"8ce5c474.f6d0e8","name":"sub SS/status/","topic":"1111/SS/status/#","qos":"0","broker":"1be77637.6214ea","x":100,"y":140,"wires":[["941c2c01.c9dbc"]]},{"id":"9bac73ac.b7c1b","type":"debug","z":"8ce5c474.f6d0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":210,"y":87,"wires":[]},{"id":"a0bf3b1f.f423e8","type":"ui_switch","z":"8ce5c474.f6d0e8","name":"","label":"SS02","tooltip":"","group":"68efa007.e75a9","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"1111/SS/status/SS2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":20,"wires":[["a482bed.5dba24","9483e55b.e3c4e8"]],"outputLabels":["1"]},{"id":"a482bed.5dba24","type":"mqtt out","z":"8ce5c474.f6d0e8","name":"pub status/SS2","topic":"","qos":"0","retain":"","broker":"1be77637.6214ea","x":620,"y":40,"wires":[]},{"id":"9483e55b.e3c4e8","type":"debug","z":"8ce5c474.f6d0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":80,"wires":[]},{"id":"576b194b.761908","type":"debug","z":"8ce5c474.f6d0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":120,"wires":[]},{"id":"2a98de8a.c54082","type":"debug","z":"8ce5c474.f6d0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":380,"y":280,"wires":[]},{"id":"58f4f309.7cfffc","type":"debug","z":"8ce5c474.f6d0e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":120,"wires":[]},{"id":"c38084e7.9c75c8","type":"debug","z":"8ce5c474.f6d0e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":280,"wires":[]},{"id":"36a3a16e.fd867e","type":"function","z":"8ce5c474.f6d0e8","name":"ON","func":"var SS1 = global.get('SS1');\nSS1.iconColor=\"green\";\nSS1.icon =\"check\";\nmsg.payload = SS1;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["4ec266c4.0ebde8","a820df19.965d6"]]},{"id":"ccba9eb6.c9e5a","type":"function","z":"8ce5c474.f6d0e8","name":"OFF","func":"var SS1 = global.get('SS1');\nSS1.iconColor=\"red\";\nSS1.icon =\"close\";\nmsg.payload = SS1;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["aeccd8e3.76a808","a820df19.965d6"]]},{"id":"e9eba09a.c9483","type":"switch","z":"8ce5c474.f6d0e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":350,"y":160,"wires":[["58f4f309.7cfffc","36a3a16e.fd867e"],["c38084e7.9c75c8","ccba9eb6.c9e5a"]]},{"id":"4ec266c4.0ebde8","type":"debug","z":"8ce5c474.f6d0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":160,"wires":[]},{"id":"aeccd8e3.76a808","type":"debug","z":"8ce5c474.f6d0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":193,"wires":[]},{"id":"10f36f46.2d3d51","type":"inject","z":"8ce5c474.f6d0e8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":90,"y":340,"wires":[["aa1a3da6.2d6dd"]]},{"id":"8d63178b.304bb8","type":"ui_template","z":"8ce5c474.f6d0e8","group":"ab709f07.10b4c","name":"","order":2,"width":"10","height":"8","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":400,"y":340,"wires":[[]]},{"id":"aa1a3da6.2d6dd","type":"template","z":"8ce5c474.f6d0e8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" height=450px width =500px ></iframe>","x":240,"y":340,"wires":[["8d63178b.304bb8"]]},{"id":"7c3fb4bf.45947c","type":"function","z":"8ce5c474.f6d0e8","name":"Add SS (1:6)","func":"var SS1  =  {\n    name:\"SS1 : Kurunegala\", \n    lat:7.486944, \n    lon:80.365045,\n    icon:\"tag\",\n    iconColor:\"dark\",\n    extrainfo:\"Hello ! this is station 1\"\n};\n\nvar SS2  =  {\n    name:\"SS2 : Mallawapitiya\", \n    lat:7.473803,\t\n    lon:80.390385,\n    icon:\"tag\",\n    extrainfo:\"Hello ! this is station 2\",\n    iconColor:\"dark\",\n   \n};\n\nvar SS3 = {\n    name:\"SS3 : Pilessa\", \n    lat:7.453491,\t\n    lon:80.418123,\n    icon:\"tag\",\n    iconColor:\"blue\",\n    extrainfo:\"Hello ! this is station 3\"\n};\n\t\nvar SS4 = {\n    name:\"SS4 : Mawatagama\", \n    lat:7.432725,\t\n    lon:80.446576,\n    icon:\"tag\",\n    iconColor:\"blue\",\n    extrainfo:\"Hello ! this is station 4\"\n};\n\t\nvar SS5 = {\n    name:\"SS5 : Galagedara\", \n    lat:7.372298,\t\n    lon:80.526042,\n    icon:\"tag\",\n    iconColor:\"blue\",\n    extrainfo:\"Hello ! this is station 5\"\n};\n\t\nvar SS6 = {\n    name:\"SS6 : Barigama\", \n    lat:7.327693,\t\n    lon:80.577552,\n    icon:\"tag\",\n    iconColor:\"blue\",\n    extrainfo:\"Hello ! this is station 6\"\n};\n\n\nmsg.payload = [SS1,SS2,SS3,SS4,SS5,SS6];\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":440,"wires":[["482a280c.704918","49b513a2.ef201c"]]},{"id":"9c062e6b.69cc7","type":"worldmap in","z":"8ce5c474.f6d0e8","name":"","path":"/worldmap","x":60,"y":400,"wires":[["e3985f72.32e4a","93d0c7a0.8ad848"]]},{"id":"e3985f72.32e4a","type":"switch","z":"8ce5c474.f6d0e8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":195,"y":448,"wires":[["7c3fb4bf.45947c","2c34d7c8.8a9638"]]},{"id":"482a280c.704918","type":"worldmap","z":"8ce5c474.f6d0e8","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","path":"/worldmap","x":505,"y":468,"wires":[]},{"id":"93d0c7a0.8ad848","type":"debug","z":"8ce5c474.f6d0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":155,"y":508,"wires":[]},{"id":"2c34d7c8.8a9638","type":"debug","z":"8ce5c474.f6d0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":335,"y":508,"wires":[]},{"id":"49b513a2.ef201c","type":"debug","z":"8ce5c474.f6d0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":515,"y":428,"wires":[]},{"id":"a820df19.965d6","type":"worldmap","z":"8ce5c474.f6d0e8","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","path":"/worldmap","x":755,"y":307,"wires":[]},{"id":"941c2c01.c9dbc","type":"switch","z":"8ce5c474.f6d0e8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"SS1","vt":"str"},{"t":"cont","v":"SS2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":173,"wires":[["576b194b.761908","e9eba09a.c9483"],["2a98de8a.c54082"]]},{"id":"68efa007.e75a9","type":"ui_group","z":"","name":"SS Status ON/OFF","tab":"65663d20.ddb014","order":3,"disp":true,"width":"6","collapse":false},{"id":"1be77637.6214ea","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ab709f07.10b4c","type":"ui_group","z":"","name":"Map","tab":"65663d20.ddb014","order":1,"disp":true,"width":"10","collapse":false},{"id":"65663d20.ddb014","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}]