Project/Node-red/dashboard_v0.1.txt
[{"id":"efa3501d.bf938","type":"tab","label":"SS Status Subscriber 6","disabled":false,"info":"Latest 2019-04-28"},{"id":"3b4d0ca9.643ba4","type":"mqtt in","z":"efa3501d.bf938","name":"sub SS/status/","topic":"eeuop/SS/status/#","qos":"0","broker":"49900b23.67bb04","x":120,"y":120,"wires":[["28c7018a.2a463e","a6f04a3a.9277f8"]]},{"id":"a6f04a3a.9277f8","type":"debug","z":"efa3501d.bf938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":250,"y":160,"wires":[]},{"id":"8032e83b.9f8dc8","type":"debug","z":"efa3501d.bf938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":80,"wires":[]},{"id":"815fd506.7c70b8","type":"debug","z":"efa3501d.bf938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":200,"wires":[]},{"id":"1b7e6400.006dfc","type":"function","z":"efa3501d.bf938","name":"ON","func":"var ss = msg.topic.split('/')[3];\nnode.warn(ss)\nvar SS = global.get(ss);\nSS.iconColor=\"green\";\nSS.icon =\"check\";\nmsg.payload = SS;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":120,"wires":[["9f09fad.44d5908","39ea1e9f.d49ab2"]]},{"id":"f71092da.6bc1d","type":"function","z":"efa3501d.bf938","name":"OFF","func":"var ss = msg.topic.split('/')[3];\nnode.warn(ss)\nvar SS = global.get(ss);\nSS.iconColor=\"red\";\nSS.icon =\"close\";\nmsg.payload = SS;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[["cd78d7d8.d139e8","39ea1e9f.d49ab2"]]},{"id":"28c7018a.2a463e","type":"switch","z":"efa3501d.bf938","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":270,"y":120,"wires":[["8032e83b.9f8dc8","1b7e6400.006dfc"],["815fd506.7c70b8","f71092da.6bc1d"]]},{"id":"9f09fad.44d5908","type":"debug","z":"efa3501d.bf938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":120,"wires":[]},{"id":"cd78d7d8.d139e8","type":"debug","z":"efa3501d.bf938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":160,"wires":[]},{"id":"f6e00a64.d960b8","type":"inject","z":"efa3501d.bf938","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":400,"wires":[["a4d4f3b4.ed86c"]]},{"id":"887deb68.41d868","type":"ui_template","z":"efa3501d.bf938","group":"3a4a2f1d.70fc3","name":"","order":2,"width":"11","height":"10","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":500,"y":400,"wires":[[]]},{"id":"a4d4f3b4.ed86c","type":"template","z":"efa3501d.bf938","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" height=450px width =500px ></iframe>","x":300,"y":400,"wires":[["887deb68.41d868"]]},{"id":"e54bbd93.e01ab","type":"function","z":"efa3501d.bf938","name":"Add SS (1:6)","func":"var SS1  =  {\n    name:\"SS1 : Kurunegala\", \n    lat:7.486944, \n    lon:80.365045,\n    icon:\"tag\",\n    iconColor:\"blue\",\n    extrainfo:\"Hello ! this is station 1\",\n    radius:2000\n};\nglobal.set(\"SS1\",SS1);\n\nvar SS2  =  {\n    name:\"SS2 : Mallawapitiya\", \n    lat:7.473803,\t\n    lon:80.390385,\n    icon:\"tag\",\n    extrainfo:\"Hello ! this is station 2\",\n    iconColor:\"blue\",\n    radius:2000\n};\nglobal.set(\"SS2\",SS2);\n\nvar SS3 = {\n    name:\"SS3 : Pilessa\", \n    lat:7.453491,\t\n    lon:80.418123,\n    icon:\"tag\",\n    iconColor:\"blue\",\n    extrainfo:\"Hello ! this is station 3\",\n    radius:1000\n};\nglobal.set(\"SS3\",SS3);\n\t\nvar SS4 = {\n    name:\"SS4 : Mawatagama\", \n    lat:7.432725,\t\n    lon:80.446576,\n    icon:\"tag\",\n    iconColor:\"blue\",\n    extrainfo:\"Hello ! this is station 4\",\n    radius:1000\n};\nglobal.set(\"SS4\",SS4);\n\t\nvar SS5 = {\n    name:\"SS5 : Galagedara\", \n    lat:7.372298,\t\n    lon:80.526042,\n    icon:\"tag\",\n    iconColor:\"blue\",\n    extrainfo:\"Hello ! this is station 5\",\n    radius:1000\n};\nglobal.set(\"SS5\",SS5);\n\t\nvar SS6 = {\n    name:\"SS6 : Barigama\", \n    lat:7.327693,\t\n    lon:80.577552,\n    icon:\"tag\",\n    iconColor:\"blue\",\n    extrainfo:\"Hello ! this is station 6\",\n    radius:1000\n};\nglobal.set(\"SS6\",SS6);\n\nmsg.payload = [SS1,SS2,SS3,SS4,SS5,SS6];\n\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":298,"wires":[["67f6587.d0ee0a8","39ea1e9f.d49ab2"]]},{"id":"b506b3e9.7eb3c","type":"worldmap in","z":"efa3501d.bf938","name":"","path":"/worldmap","x":115,"y":298,"wires":[["70120241.4e365c"]]},{"id":"70120241.4e365c","type":"switch","z":"efa3501d.bf938","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":225,"y":298,"wires":[["e54bbd93.e01ab"]]},{"id":"67f6587.d0ee0a8","type":"debug","z":"efa3501d.bf938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":295,"wires":[]},{"id":"39ea1e9f.d49ab2","type":"worldmap","z":"efa3501d.bf938","name":"","lat":"","lon":"","zoom":"10","layer":"OSM","cluster":"0","maxage":"","usermenu":"show","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","path":"/worldmap","x":580,"y":240,"wires":[]},{"id":"717de49e.5f829c","type":"comment","z":"efa3501d.bf938","name":"Vehicle 1 Subscriber","info":"","x":130,"y":54,"wires":[]},{"id":"914cf5b4.250ac8","type":"comment","z":"efa3501d.bf938","name":"Interface","info":"","x":100,"y":360,"wires":[]},{"id":"b1d8d0a4.218a9","type":"comment","z":"efa3501d.bf938","name":"Battery Status","info":"","x":102,"y":460,"wires":[]},{"id":"7b5da8b8.17ddd8","type":"file in","z":"efa3501d.bf938","name":"Vehicle1","filename":"/home/pi/Desktop/Project/Node-red/Vehicle1_gpxdata.txt","format":"lines","chunk":false,"sendError":false,"x":860,"y":120,"wires":[["faff0400.8fa5e8","8e48a6a1.c49928","a7a9cad.08e9138"]]},{"id":"dea49628.647228","type":"inject","z":"efa3501d.bf938","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":810,"y":60,"wires":[["7b5da8b8.17ddd8"]]},{"id":"241ebd04.ab83e2","type":"debug","z":"efa3501d.bf938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":240,"wires":[]},{"id":"faff0400.8fa5e8","type":"function","z":"efa3501d.bf938","name":"Split > Update object","func":"var lat1 = msg.payload.split(',')[0];\n//node.warn(lon1)\nvar lon1= msg.payload.split(',')[1];\n//node.warn(lat1)\n\nvar lat = lat1;\nvar lon = lon1;\n\nvar v1 = {\n    lon:lon, \n    lat:lat,\n    name:\"eWheeler 1\", \n    icon:\"fa-car\"\n};\n\nmsg.payload= v1;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":880,"y":180,"wires":[["b155900.3a6ae7","34231575.16be8a"]]},{"id":"8e48a6a1.c49928","type":"debug","z":"efa3501d.bf938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":120,"wires":[]},{"id":"b155900.3a6ae7","type":"delay","z":"efa3501d.bf938","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":240,"wires":[["241ebd04.ab83e2","39ea1e9f.d49ab2"]]},{"id":"57665ba5.206844","type":"comment","z":"efa3501d.bf938","name":"Vehicle 1 Journey","info":"","x":830,"y":20,"wires":[]},{"id":"a7a9cad.08e9138","type":"delay","z":"efa3501d.bf938","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":180,"wires":[["4e15338d.ff388c"]]},{"id":"82c94dc0.287f2","type":"switch","z":"efa3501d.bf938","name":"check","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":40,"wires":[["5006af3a.65683"],["51054406.e71bdc"]]},{"id":"4e15338d.ff388c","type":"function","z":"efa3501d.bf938","name":"SS-dist","func":"// -- Obtain lon/lat of vehicle\nvar lat_now = msg.payload.split(',')[0];\n//node.warn(lon1)\nvar lon_now= msg.payload.split(',')[1];\n//node.warn(lat1)\nvar lat_v = lat_now;\nvar lon_v = lon_now;\n\nfunction getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {\n  var R = 6371; // Radius of the earth in km\n  var dLat = deg2rad(lat2-lat1);  // deg2rad below\n  var dLon = deg2rad(lon2-lon1); \n  var a = \n    Math.sin(dLat/2) * Math.sin(dLat/2) +\n    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * \n    Math.sin(dLon/2) * Math.sin(dLon/2)\n    ; \n  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n  var d = R * c; // Distance in km\n  return d;\n}\n\nfunction deg2rad(deg) {\n  return deg * (Math.PI/180)\n}\n\nvar SS1_dis= {payload : getDistanceFromLatLonInKm(7.486944,80.365045,lat_v,lon_v)}\nvar SS2_dis= {payload : getDistanceFromLatLonInKm(7.473803,80.390385,lat_v,lon_v)}\nvar SS3_dis= {payload : getDistanceFromLatLonInKm(7.453491,80.418123,lat_v,lon_v)}\nvar SS4_dis= {payload : getDistanceFromLatLonInKm(7.432725,80.446576,lat_v,lon_v)}\nvar SS5_dis= {payload : getDistanceFromLatLonInKm(7.372298,80.526042,lat_v,lon_v)}\nvar SS6_dis= {payload : getDistanceFromLatLonInKm(7.327693,80.577552,lat_v,lon_v)}\n\n\n/**\n    name:\"SS3 : Pilessa\", \n    lat:7.453491,\t\n    lon:80.418123,\n  \n    name:\"SS4 : Mawatagama\", \n    lat:7.432725,\t\n    lon:80.446576,\n \t\n    name:\"SS5 : Galagedara\", \n    lat:7.372298,\t\n    lon:80.526042,\n\n    name:\"SS6 : Barigama\", \n    lat:7.327693,\t\n    lon:80.577552,\n   **/\n  \nreturn [SS1_dis, SS2_dis, SS3_dis,SS4_dis,SS5_dis,SS6_dis];","outputs":6,"noerr":0,"x":1260,"y":180,"wires":[["82c94dc0.287f2","1d959282.75f4dd"],["dc380eb7.4087d","9393b020.b94a"],["a9f381cd.18578","cecfc915.1e9528"],["dc726d11.73d5c","4d7a5602.7abad8"],["a5940fd0.cda7c","9c30f27.9bacf1"],["aafbf960.f97508","445d6577.42eadc"]]},{"id":"5006af3a.65683","type":"function","z":"efa3501d.bf938","name":"publish 1","func":"var value = 1;\nmsg.payload = value;\nmsg.topic =\"dist2/SS1/v1\";\nreturn msg ;","outputs":1,"noerr":0,"x":1580,"y":40,"wires":[["d7b0bd93.6eabb"]]},{"id":"d7b0bd93.6eabb","type":"mqtt out","z":"efa3501d.bf938","name":"","topic":"","qos":"","retain":"","broker":"49900b23.67bb04","x":1790,"y":180,"wires":[]},{"id":"dc380eb7.4087d","type":"switch","z":"efa3501d.bf938","name":"check","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":80,"wires":[["8e21730b.c56a4"],["1e97c784.48a648"]]},{"id":"8e21730b.c56a4","type":"function","z":"efa3501d.bf938","name":"publish 1","func":"var value = 1;\nmsg.payload = value;\nmsg.topic =\"dist2/SS2/v1\";\nreturn msg ;","outputs":1,"noerr":0,"x":1580,"y":100,"wires":[["d7b0bd93.6eabb"]]},{"id":"51054406.e71bdc","type":"function","z":"efa3501d.bf938","name":"publish 0","func":"var value = 0;\nmsg.payload = value;\nmsg.topic =\"dist2/SS1/v1\";\nreturn msg ;","outputs":1,"noerr":0,"x":1580,"y":60,"wires":[["d7b0bd93.6eabb"]]},{"id":"1e97c784.48a648","type":"function","z":"efa3501d.bf938","name":"publish 0","func":"var value = 0;\nmsg.payload = value;\nmsg.topic =\"dist2/SS2/v1\";\nreturn msg ;","outputs":1,"noerr":0,"x":1580,"y":120,"wires":[["d7b0bd93.6eabb"]]},{"id":"a9f381cd.18578","type":"switch","z":"efa3501d.bf938","name":"check","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":160,"wires":[["fd29e294.9ed4a"],["f129d03b.3fe0e"]]},{"id":"fd29e294.9ed4a","type":"function","z":"efa3501d.bf938","name":"publish 1","func":"var value = 1;\nmsg.payload = value;\nmsg.topic =\"dist2/SS3/v1\";\nreturn msg ;","outputs":1,"noerr":0,"x":1580,"y":160,"wires":[["d7b0bd93.6eabb"]]},{"id":"dc726d11.73d5c","type":"switch","z":"efa3501d.bf938","name":"check","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":200,"wires":[["30c34e24.00df22"],["bc8464fb.20afe8"]]},{"id":"30c34e24.00df22","type":"function","z":"efa3501d.bf938","name":"publish 1","func":"var value = 1;\nmsg.payload = value;\nmsg.topic =\"dist2/SS4/v1\";\nreturn msg ;","outputs":1,"noerr":0,"x":1580,"y":220,"wires":[["d7b0bd93.6eabb"]]},{"id":"f129d03b.3fe0e","type":"function","z":"efa3501d.bf938","name":"publish 0","func":"var value = 0;\nmsg.payload = value;\nmsg.topic =\"dist2/SS3/v1\";\nreturn msg ;","outputs":1,"noerr":0,"x":1580,"y":180,"wires":[["d7b0bd93.6eabb"]]},{"id":"bc8464fb.20afe8","type":"function","z":"efa3501d.bf938","name":"publish 0","func":"var value = 0;\nmsg.payload = value;\nmsg.topic =\"dist2/SS4/v4\";\nreturn msg ;","outputs":1,"noerr":0,"x":1580,"y":240,"wires":[["d7b0bd93.6eabb"]]},{"id":"a5940fd0.cda7c","type":"switch","z":"efa3501d.bf938","name":"check","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":280,"wires":[["bf3dc34c.9c0bc"],["21d221e3.dd61fe"]]},{"id":"bf3dc34c.9c0bc","type":"function","z":"efa3501d.bf938","name":"publish 1","func":"var value = 1;\nmsg.payload = value;\nmsg.topic =\"dist2/SS5/v1\";\nreturn msg ;","outputs":1,"noerr":0,"x":1580,"y":280,"wires":[["d7b0bd93.6eabb"]]},{"id":"aafbf960.f97508","type":"switch","z":"efa3501d.bf938","name":"check","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":320,"wires":[["7a562adf.a5de44"],["decc9f0a.b2a75"]]},{"id":"7a562adf.a5de44","type":"function","z":"efa3501d.bf938","name":"publish 1","func":"var value = 1;\nmsg.payload = value;\nmsg.topic =\"dist2/SS6/v1\";\nreturn msg ;","outputs":1,"noerr":0,"x":1580,"y":340,"wires":[["d7b0bd93.6eabb"]]},{"id":"21d221e3.dd61fe","type":"function","z":"efa3501d.bf938","name":"publish 0","func":"var value = 0;\nmsg.payload = value;\nmsg.topic =\"dist2/SS5/v1\";\nreturn msg ;","outputs":1,"noerr":0,"x":1580,"y":300,"wires":[["d7b0bd93.6eabb"]]},{"id":"decc9f0a.b2a75","type":"function","z":"efa3501d.bf938","name":"publish 0","func":"var value = 0;\nmsg.payload = value;\nmsg.topic =\"dist2/SS6/v1\";\nreturn msg ;","outputs":1,"noerr":0,"x":1580,"y":360,"wires":[["d7b0bd93.6eabb"]]},{"id":"445d6577.42eadc","type":"debug","z":"efa3501d.bf938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1429,"y":580,"wires":[]},{"id":"9c30f27.9bacf1","type":"debug","z":"efa3501d.bf938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1429,"y":540,"wires":[]},{"id":"4d7a5602.7abad8","type":"debug","z":"efa3501d.bf938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1429,"y":500,"wires":[]},{"id":"cecfc915.1e9528","type":"debug","z":"efa3501d.bf938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1429,"y":460,"wires":[]},{"id":"9393b020.b94a","type":"debug","z":"efa3501d.bf938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1429,"y":420,"wires":[]},{"id":"1d959282.75f4dd","type":"debug","z":"efa3501d.bf938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1429,"y":380,"wires":[]},{"id":"34231575.16be8a","type":"debug","z":"efa3501d.bf938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":100,"wires":[]},{"id":"6b264c85.b698f4","type":"mqtt in","z":"efa3501d.bf938","name":"","topic":"93/bms/v1/#","qos":"0","broker":"49900b23.67bb04","x":110,"y":580,"wires":[["da01bb15.232918"]]},{"id":"3b594ac9.7d1ff6","type":"comment","z":"efa3501d.bf938","name":"SOC & SOH subscriber","info":"","x":130,"y":500,"wires":[]},{"id":"da01bb15.232918","type":"switch","z":"efa3501d.bf938","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"soc","vt":"str"},{"t":"cont","v":"soh","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":580,"wires":[["5355d69d.8d04e8","31c2f54c.348c6a","1d9247b6.d62808"],["c7244e4d.3279c","19ab62f7.5f355d","dec09bed.737028"]]},{"id":"c7244e4d.3279c","type":"ui_gauge","z":"efa3501d.bf938","name":"sohGauge","group":"80dee9e6.890988","order":4,"width":"3","height":"3","gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"75","x":440,"y":640,"wires":[]},{"id":"5355d69d.8d04e8","type":"ui_gauge","z":"efa3501d.bf938","name":"socChart","group":"7203b591.bc584c","order":2,"width":"3","height":"3","gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":520,"wires":[]},{"id":"31c2f54c.348c6a","type":"debug","z":"efa3501d.bf938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":560,"wires":[]},{"id":"19ab62f7.5f355d","type":"debug","z":"efa3501d.bf938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":680,"wires":[]},{"id":"dec09bed.737028","type":"ui_text","z":"efa3501d.bf938","group":"80dee9e6.890988","order":3,"width":0,"height":0,"name":"","label":"SOH","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":600,"wires":[]},{"id":"1d9247b6.d62808","type":"ui_text","z":"efa3501d.bf938","group":"7203b591.bc584c","order":1,"width":0,"height":0,"name":"","label":"SOC","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":480,"wires":[]},{"id":"371d8de9.6742a2","type":"ui_template","z":"efa3501d.bf938","group":"3a4a2f1d.70fc3","name":"Clock Toolbar","order":4,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    \n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            displayTitle(data);\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":791.2500114440918,"y":581.2500085830688,"wires":[[]]},{"id":"e52064a.ad60a98","type":"comment","z":"efa3501d.bf938","name":"Clock","info":"","x":761.2500114440918,"y":521.2500085830688,"wires":[]},{"id":"d04effd2.3282a","type":"comment","z":"efa3501d.bf938","name":"Vehicle location subscriber (GPS)","info":"Realtime location update and map","x":853.7500133514404,"y":328.7500057220459,"wires":[]},{"id":"e4f95f44.02a4a","type":"mqtt in","z":"efa3501d.bf938","name":"","topic":"93/gps/v1/LatLon","qos":"0","broker":"49900b23.67bb04","x":770.0000114440918,"y":388.7500057220459,"wires":[["8933afa4.4b78f","f809c17d.e3d3f"]]},{"id":"8933afa4.4b78f","type":"function","z":"efa3501d.bf938","name":"Lon-Lat","func":"var lt = msg.payload.split('/')[0];\nvar ln = msg.payload.split('/')[1];\n\nvar lat = parseFloat(lt);\nvar lon = parseFloat(ln);\n\nvar V1  =  {\n    name:\"Vehicle-1\", \n    lat:lat, \n    lon:lon,\n    icon:\"car\",\n    iconColor:\"#e933ff\",\n    extrainfo:\"You are here !\",\n    \n};\nmsg.payload = V1\nreturn msg;","outputs":1,"noerr":0,"x":940.5000152587891,"y":388.0000057220459,"wires":[["39ea1e9f.d49ab2","cfd7a344.6af32"]]},{"id":"cfd7a344.6af32","type":"debug","z":"efa3501d.bf938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1078.75,"y":408.75,"wires":[]},{"id":"f809c17d.e3d3f","type":"debug","z":"efa3501d.bf938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":937.5,"y":450,"wires":[]},{"id":"13e6b049.5dac9","type":"ui_slider","z":"efa3501d.bf938","name":"","label":"slider","tooltip":"","group":"9c301be2.1eb298","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":1,"x":273.75000762939453,"y":743.7500114440918,"wires":[["eb8c0400.da7578"]]},{"id":"eb8c0400.da7578","type":"ui_gauge","z":"efa3501d.bf938","name":"sohGauge","group":"9c301be2.1eb298","order":4,"width":"3","height":"3","gtype":"gage","title":"","label":"Celcius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"40","x":428.75,"y":745,"wires":[]},{"id":"ceb4106d.eefc4","type":"comment","z":"efa3501d.bf938","name":"Information","info":"iu","x":1009.9999389648438,"y":528.3332929611206,"wires":[]},{"id":"6e7eec97.1f55b4","type":"ui_text","z":"efa3501d.bf938","group":"1cb8e262.34db1e","order":0,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1006.6666666666665,"y":579.9999999999999,"wires":[]},{"id":"49900b23.67bb04","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3a4a2f1d.70fc3","type":"ui_group","z":"","name":"Map","tab":"92d2c8c0.8d08b8","order":3,"disp":true,"width":"11","collapse":false},{"id":"80dee9e6.890988","type":"ui_group","z":"","name":"SOH","tab":"92d2c8c0.8d08b8","order":4,"disp":false,"width":"3","collapse":false},{"id":"7203b591.bc584c","type":"ui_group","z":"","name":"Battery Life","tab":"92d2c8c0.8d08b8","order":4,"disp":false,"width":"3","collapse":false},{"id":"9c301be2.1eb298","type":"ui_group","z":"","name":"Temperature","tab":"92d2c8c0.8d08b8","order":4,"disp":true,"width":"3","collapse":false},{"id":"1cb8e262.34db1e","type":"ui_group","z":"","name":"","tab":"92d2c8c0.8d08b8","order":5,"disp":true,"width":"3","collapse":false},{"id":"92d2c8c0.8d08b8","type":"ui_tab","z":"","name":"Human Machine Interface [ eWheeler 1 ]","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
