Old_Files/error/flows_raspberrypi.json
[{"id":"cd61dd45.68b0e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fb91f71.22edc08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"77ceef37.f4293","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"ab709f07.10b4c","type":"ui_group","z":"","name":"Map","tab":"","order":1,"disp":true,"width":"10","collapse":false},{"id":"8642c526.e59448","type":"ui_group","z":"","name":"new","tab":"","disp":true,"width":"6","collapse":false},{"id":"9458ec83.13931","type":"ui_group","z":"","name":"ON/OFF","tab":"","disp":false,"width":"6","collapse":false},{"id":"b3f2b694.a63c48","type":"ui_group","z":"","name":"Garage","tab":"","order":2,"disp":false,"width":"10"},{"id":"f345e51f.2e2348","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":false,"width":"24","collapse":false},{"id":"3ebf9591.85e30a","type":"ui_group","z":"b9ab85f7.12f198","name":"Default","tab":"","disp":true,"width":"6"},{"id":"c276e9b.4a20318","type":"ui_group","z":"","name":"SS Status ON/OFF","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"229fb0bc.9ef1","type":"ui_group","z":"","name":"Map","tab":"","order":1,"disp":true,"width":"10","collapse":false},{"id":"2e092ffe.62021","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"821335d1.627038","type":"ui_group","z":"","name":"Map","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"e6074f9e.dcf46","type":"ui_group","z":"","name":"Battery Life","tab":"","order":4,"disp":false,"width":"3","collapse":false},{"id":"e13cf45d.26e558","type":"ui_group","z":"","name":"Temperature","tab":"","order":5,"disp":false,"width":"3","collapse":false},{"id":"8b0e7cd3.d451","type":"ui_group","z":"","name":"SS Status ON/OFF","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"d8614175.70a4f","type":"ui_group","z":"","name":"SS Status ON/OFF","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"20d19cb8.fc24d4","type":"inject","z":"cd61dd45.68b0e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":60,"wires":[["809de486.d4c398"]]},{"id":"809de486.d4c398","type":"debug","z":"cd61dd45.68b0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":60,"wires":[]},{"id":"dabcad55.a2d0e","type":"worldmap","z":"fb91f71.22edc08","name":"","lat":"","lon":"","zoom":"10","layer":"OSM","cluster":"0","maxage":"","usermenu":"show","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","path":"/worldmap","x":800,"y":220,"wires":[]},{"id":"b2477c2f.6010f","type":"file in","z":"fb91f71.22edc08","name":"Vehicle11","filename":"/home/pi/Desktop/Project/Node-red/Vehicle1_Kurunegala-Malwapitiya.txt","format":"lines","chunk":false,"sendError":false,"x":200,"y":40,"wires":[["89b20590.8e6f48","2b3e1c09.651b54"]]},{"id":"a8680034.25d01","type":"inject","z":"fb91f71.22edc08","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":70,"y":40,"wires":[["b2477c2f.6010f"]]},{"id":"6b9f30ee.74edb","type":"debug","z":"fb91f71.22edc08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":160,"wires":[]},{"id":"89b20590.8e6f48","type":"function","z":"fb91f71.22edc08","name":"Split > Update object","func":"var lat1 = msg.payload.split(',')[0];\n//node.warn(lon1)\nvar lon1= msg.payload.split(',')[1];\n//node.warn(lat1)\n\nvar lat = lat1;\nvar lon = lon1;\n\nvar v1 = {\n    lon:lon, \n    lat:lat,\n    name:\"Vehicle\", \n    icon:\"fa-car\"\n};\n\nmsg.payload= v1;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":40,"wires":[["b34bf332.4ae8d"]]},{"id":"2b3e1c09.651b54","type":"debug","z":"fb91f71.22edc08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":120,"wires":[]},{"id":"b34bf332.4ae8d","type":"delay","z":"fb91f71.22edc08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":100,"wires":[["dabcad55.a2d0e","6b9f30ee.74edb"]]},{"id":"8c7afbd8.534698","type":"inject","z":"fb91f71.22edc08","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":130,"y":220,"wires":[["a626a3ce.1aca9"]]},{"id":"a626a3ce.1aca9","type":"template","z":"fb91f71.22edc08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" height=300px ></iframe>","x":280,"y":220,"wires":[["5c2ae9d0.edd958"]]},{"id":"5c2ae9d0.edd958","type":"ui_template","z":"fb91f71.22edc08","group":"3ebf9591.85e30a","name":"","order":0,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":440,"y":220,"wires":[[]]}]