Old_Files/CODES/Node-Red/My tests/Dashboard test1
[{"id":"cf5498ec.7bb178","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"94adbb42.150188","type":"mqtt in","z":"cf5498ec.7bb178","name":"","topic":"emspe/sensors/#","qos":"0","broker":"e62d40f1.a1cc8","x":100,"y":340,"wires":[["5076745c.65304c","d0e813cd.26de1","be9442fc.5ed2e"]]},{"id":"5076745c.65304c","type":"debug","z":"cf5498ec.7bb178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":380,"wires":[]},{"id":"8b66283e.b3e978","type":"mqtt out","z":"cf5498ec.7bb178","name":"","topic":"","qos":"","retain":"","broker":"e62d40f1.a1cc8","x":410,"y":80,"wires":[]},{"id":"ac7216d.d3431e8","type":"comment","z":"cf5498ec.7bb178","name":"Publisher","info":"","x":80,"y":20,"wires":[]},{"id":"4bc1010c.bab38","type":"comment","z":"cf5498ec.7bb178","name":"Subscriber","info":"Topic - emspe\nBroker - test,mosquitto.org\nPort - 1883","x":80,"y":280,"wires":[]},{"id":"f77e76a1.2b1158","type":"ui_text","z":"cf5498ec.7bb178","group":"fabeadc3.98838","order":2,"width":"1","height":"1","name":"","label":"light","format":"{{msg.payload}}","layout":"row-center","x":430,"y":280,"wires":[]},{"id":"2f095e3f.7e5f92","type":"ui_text","z":"cf5498ec.7bb178","group":"fabeadc3.98838","order":1,"width":"4","height":"3","name":"","label":"Main door","format":"{{msg.payload}}","layout":"row-left","x":430,"y":220,"wires":[]},{"id":"d0e813cd.26de1","type":"ui_switch","z":"cf5498ec.7bb178","name":"light switch","label":"switch","tooltip":"","group":"ab709f07.10b4c","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"emspe/sensors/main-light/control","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":350,"y":160,"wires":[["8b66283e.b3e978"]]},{"id":"490a3310.f7938c","type":"ui_button","z":"cf5498ec.7bb178","name":"","group":"ab709f07.10b4c","order":3,"width":0,"height":0,"passthru":false,"label":"Main door closed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"closed","payloadType":"str","topic":"emspe/sensors/main-door/control","x":230,"y":100,"wires":[["8b66283e.b3e978"]]},{"id":"f1c1795b.cfd298","type":"ui_button","z":"cf5498ec.7bb178","name":"","group":"ab709f07.10b4c","order":2,"width":0,"height":0,"passthru":false,"label":"Main door open","tooltip":"","color":"","bgcolor":"#000000","icon":"call","payload":"","payloadType":"str","topic":"emspe/sensors/main-door/control","x":240,"y":60,"wires":[["8b66283e.b3e978"]]},{"id":"be9442fc.5ed2e","type":"function","z":"cf5498ec.7bb178","name":"select topic","func":"node.log(\"here\");\nif (msg.topic===\"emspe/sensors/main-door\"){\n    node.log(\"t1\");\n        return[\"maindoor\",null];\n}\nif(msg.topic===\"emspe/sensors/main-light\"){\n    node.log(\"t2\");\n        return[null,msg.payload];\n}\nnode.log(\"t3\");\nreturn ","outputs":2,"noerr":0,"x":270,"y":260,"wires":[["2f095e3f.7e5f92"],["f77e76a1.2b1158"]]},{"id":"ac7d014d.91d3a","type":"inject","z":"cf5498ec.7bb178","name":"","topic":"","payload":"test door open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["f1c1795b.cfd298"]]},{"id":"e62d40f1.a1cc8","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fabeadc3.98838","type":"ui_group","name":"Group 2","tab":"65663d20.ddb014","order":2,"disp":true,"width":6},{"id":"ab709f07.10b4c","type":"ui_group","z":"","name":"control","tab":"65663d20.ddb014","order":1,"disp":true,"width":"6","collapse":true},{"id":"65663d20.ddb014","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]