Old_Files/CODES/Node-Red/My project/Icon movement/Icon movement_My Test 1
[{"id":"bc2576c2.a41208","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d2ee874c.a45078","type":"file in","z":"bc2576c2.a41208","name":"Vehicle1","filename":"/home/pi/Desktop/Project/Node-red/Vehicle1_Kurunegala-Malwapitiya.txt","format":"lines","chunk":false,"sendError":false,"x":160,"y":100,"wires":[["80c229d8.3b8da8","79f04071.17717"]]},{"id":"100cd7a9.b4aae8","type":"inject","z":"bc2576c2.a41208","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":90,"y":40,"wires":[["d2ee874c.a45078"]]},{"id":"9fc0b2f7.ea4aa","type":"debug","z":"bc2576c2.a41208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":160,"wires":[]},{"id":"80c229d8.3b8da8","type":"function","z":"bc2576c2.a41208","name":"Split > Update object","func":"var lat1 = msg.payload.split(',')[0];\n//node.warn(lon1)\nvar lon1= msg.payload.split(',')[1];\n//node.warn(lat1)\n\nvar lat = lat1;\nvar lon = lon1;\n\nvar v1 = {\n    lon:lon, \n    lat:lat,\n    name:\"Vehicle\", \n    icon:\"tag\", \n};\n\nmsg.payload= v1;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":40,"wires":[["22d0f116.28be7e"]]},{"id":"79f04071.17717","type":"debug","z":"bc2576c2.a41208","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":160,"wires":[]},{"id":"de9bc0f4.d8209","type":"worldmap","z":"bc2576c2.a41208","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","path":"/worldmap","x":560,"y":40,"wires":[]},{"id":"22d0f116.28be7e","type":"delay","z":"bc2576c2.a41208","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":100,"wires":[["de9bc0f4.d8209","9fc0b2f7.ea4aa"]]},{"id":"63766a75.cbad14","type":"inject","z":"bc2576c2.a41208","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":130,"y":220,"wires":[["844bd00a.c9147"]]},{"id":"10c6e44b.c9cfac","type":"ui_template","z":"bc2576c2.a41208","group":"3ee0e7a8.7bba88","name":"","order":2,"width":"10","height":"9","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":460,"y":220,"wires":[[]]},{"id":"844bd00a.c9147","type":"template","z":"bc2576c2.a41208","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" height=450px width =500px ></iframe>","x":300,"y":220,"wires":[["10c6e44b.c9cfac"]]},{"id":"3ee0e7a8.7bba88","type":"ui_group","z":"","name":"Group 1","tab":"628cff0c.81de4","order":1,"disp":true,"width":"12","collapse":false},{"id":"628cff0c.81de4","type":"ui_tab","z":"","name":"Test Path","icon":"dashboard","order":1,"disabled":false,"hidden":false}]