Old_Files/CODES/Node-Red/Imported/HCL worldmap example
[{"id":"baf40762.f968c8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"b48159ef.38ff38","type":"mqtt in","z":"baf40762.f968c8","name":"HSL open API","topic":"/hfp/journey/#","qos":"2","broker":"1133a23e.3a86de","x":90,"y":100,"wires":[["1f47d305.75e60d"]]},{"id":"2c6b3978.0be196","type":"function","z":"baf40762.f968c8","name":"Parse Vehicle","func":"var data = msg.payload;\n\nvar vehicle = {\n    name: data.VP.veh,\n    lat: data.VP.lat,\n    lon: data.VP.long,\n    icon: \"ship\",\n    iconColor: \"red\",\n    source: data.VP.source,\n    bearing: data.VP.hdg,\n    speed: data.VP.spd,\n    designation: data.VP.desi\n    //extrainfo: data.VP.desi,\n    //timeStamp: data.VP.tst\n};\n\nif (\n    vehicle.source === 'hsl helmi'\n    ||\n    vehicle.source === 'hsl roisto'\n    ) {\n    // bus\n    vehicle.icon = 'friend';\n    vehicle.iconColor = 'blue';\n    vehicle.layer = \"Bus\";\n} else if (\n    vehicle.source === 'hsl live'\n    ||\n    vehicle.source === 'sm5logger'\n    ) {\n    // Local trains/trams\n    vehicle.iconColor = 'green';\n    vehicle.layer = \"Train/tram\";\n} else if (vehicle.source === 'vr') {\n    // VR train (local)\n    vehicle.iconColor = 'chartreuse';\n    vehicle.layer = \"VR train (local)\";\n} else if (vehicle.source === 'meri-test.digitraffic.fi') {\n    // ferry\n    vehicle.iconColor = 'aqua';\n    vehicle.layer = \"Ferry\";\n} else {\n    node.error('Unknown source:' + vehicle.source);\n    node.error('Unknown designation:' + vehicle.designation);\n}\n\nmsg.topic = vehicle.name;\nmsg.payload = vehicle;\n\nreturn msg;","outputs":1,"noerr":0,"x":266.25,"y":202.25,"wires":[["cad66713.8f04b8","cd365420.39eca8"]]},{"id":"cd365420.39eca8","type":"debug","z":"baf40762.f968c8","name":"","active":false,"console":"false","complete":"false","x":428.5,"y":142.353515625,"wires":[]},{"id":"1f47d305.75e60d","type":"json","z":"baf40762.f968c8","name":"","x":189.5,"y":149.353515625,"wires":[["2c6b3978.0be196","3865f0b3.8114c"]]},{"id":"cad66713.8f04b8","type":"worldmap","z":"baf40762.f968c8","name":"","lat":"60","lon":"25","zoom":"10","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","panit":"false","x":443.7547607421875,"y":254,"wires":[]},{"id":"3865f0b3.8114c","type":"debug","z":"baf40762.f968c8","name":"","active":false,"console":"false","complete":"false","x":330.7547607421875,"y":79,"wires":[]},{"id":"1133a23e.3a86de","type":"mqtt-broker","broker":"mqtt.hsl.fi","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"birthQos":"0","willQos":"0"}]